@import "mixins.scss";
body {
    background-color: #D2D5D6;
}

.body-wrap {
    @include w-h(440px,500px);
    margin: 0 auto;
    position: relative;
    top: 20%;
    overflow: hidden;
    background-color: #eef1f2;
    border-radius: 10px;
    box-shadow: 0 6px 7px #999;
}

.bg-wrap {
    @include w-h(440px,270px);
    background-image: url('../images/bg.jpg');
    background-size: 100% 100%;
}

.content {
    @include w-h (440,130px);
    padding: 20px 20px 10px 20px;
}

.music-info {
    @include w-h(280px,100%);
    display: inline-block;
    p:first-child, p:nth-child(2){
        font-weight: bold;
        color: #455569;
        // margin: 0;
        //溢出时省略号
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    p:first-child {
        font-size: 26px;
    }
    p:nth-child(2) {
        font-size: 18px;
    }
    p:last-child {
        margin-top: 4px;
        font-size: 14px;
        font-weight: normal;
        color: #455569;
    }
}

.music-ico {
    float: right;
    
    a, span {
        font-size: 22px;
        margin-right: 10px;
    }
}
